@model CreateViewModel
@{
    ViewData["Title"] = "Employee";
}

    <div class="row">
        <div class="col-md-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                            <li class="breadcrumb-item"><a asp-controller="Employee" asp-action="Index">Employee List</a></li>
                            <li class="breadcrumb-item active" aria-current="page">New Employee</li>
                        </ol>
                    </nav><br /><br />
                    <form method="post" enctype="multipart/form-data" asp-action="Create">
                        <div asp-validation-summary="ModelOnly" class="text-danger">
                            <div class="form-row">
                                <div class="form-group col-md-2">
                                    <label asp-for="EmpNumber"></label>
                                </div>
                                <div class="form-group col-md-3">
                                    <input asp-for="EmpNumber" class="form-control" placeholder="EMP000" />
                                    <span asp-validation-for="EmpNumber" class="text-danger"></span>
                                </div>
                                <div class="col-md-2"></div>
                                <div class="form-group col-md-2">
                                    <label asp-for="FirstName"></label>
                                </div>
                                <div class="form-group col-md-3">
                                    <input asp-for="FirstName" class="form-control" placeholder="yyyy/mm/dd" />
                                    <span asp-validation-for="FirstName" class="text-danger"></span>
                                </div>
                                <div class="col-md-2"></div>
                                <div class="form-group col-md-2">
                                    <label asp-for="LastName"></label>
                                </div>
                                <div class="form-group col-md-3">
                                    <input asp-for="LastName" class="form-control" placeholder="yyyy/mm/dd" />
                                    <span asp-validation-for="LastName" class="text-danger"></span>
                                </div>
                                <div class="col-md-2"></div>
                                <div class="form-group col-md-2">
                                    <label asp-for="Gender"></label>
                                </div>
                                <div class="form-group col-md-3">
                                    <input asp-for="Gender" class="form-control" placeholder="yyyy/mm/dd" />
                                    <span asp-validation-for="Gender" class="text-danger"></span>
                                </div>
                                <div class="col-md-2"></div>
                                <div class="col-md-2"></div>
                                <div class="form-group col-md-2">
                                    <label asp-for="Role"></label>
                                </div>
                                <div class="form-group col-md-3">
                                    <input asp-for="Role" class="form-control" placeholder="yyyy/mm/dd" />
                                    <span asp-validation-for="Role" class="text-danger"></span>
                                </div>
                                <div class="col-md-2"></div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

